In [1]:
import keras
import tensorflow as tf
import pandas as pd
import numpy as np
from keras.models import Sequential # constructor
from keras.layers import Dense

2024-05-08 10:42:58.732578: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-08 10:42:58.736431: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-08 10:42:58.814876: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-08 10:42:59.897654: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
import os
os.environ['KERAS_BACKEND'] = 'tensorflow'

In [3]:
# Download the data and read it as pandas dataframe
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
# Check number of datapoints
concrete_data.shape

(1030, 9)

In [5]:
# Check is there is any missing values
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
# Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
# Normalize the data by substracting the mean and dividing by the standard deviation
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
# Save the number of predictors as number of columns
n_cols = predictors_norm.shape[1]
print(n_cols)

8

In [12]:
# Build a neural network

def regression_model():

    # build model
    model = Sequential() 

    # build layers: two hidden layers with 50 units
    model.add(Dense(50, activation='relu', input_shape=(n_cols, )))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))

    # define an optimizer as minimization algorithm for training and loss meause
    model.compile(optimizer='adam', loss='mean_squared_error')

    return model

In [13]:
# Test and train the network

model = regression_model()

# fit the model: train and test at the same time, leave out 30% of the data for validation and train for 100 epochs
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100

/home/ap/miniconda3/envs/regression_keras/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

23/23 - 1s - 36ms/step - loss: 1633.3783 - val_loss: 1130.1722
Epoch 2/100
23/23 - 0s - 4ms/step - loss: 1491.5607 - val_loss: 998.1894
Epoch 3/100
23/23 - 0s - 4ms/step - loss: 1263.1042 - val_loss: 797.1871
Epoch 4/100
23/23 - 0s - 4ms/step - loss: 932.7864 - val_loss: 548.3672
Epoch 5/100
23/23 - 0s - 3ms/step - loss: 574.2189 - val_loss: 334.7046
Epoch 6/100
23/23 - 0s - 3ms/step - loss: 329.9432 - val_loss: 230.9771
Epoch 7/100
23/23 - 0s - 4ms/step - loss: 251.0463 - val_loss: 203.4082
Epoch 8/100
23/23 - 0s - 4ms/step - loss: 228.4900 - val_loss: 192.5143
Epoch 9/100
23/23 - 0s - 3ms/step - loss: 213.8058 - val_loss: 186.6275
Epoch 10/100
23/23 - 0s - 3ms/step - loss: 202.8533 - val_loss: 179.3984
Epoch 11/100
23/23 - 0s - 3ms/step - loss: 195.5338 - val_loss: 177.5751
Epoch 12/100
23/23 - 0s - 3ms/step - loss: 187.7848 - val_loss: 172.9742
Epoch 13/100
23/23 - 0s - 3ms/step - loss: 182.1400 - val_loss: 171.2306
Epoch 14/100
23/23 - 0s - 3ms/step - loss: 176.5279 - val_loss: 166.5757
Epoch 15/100
23/23 - 0s - 3ms/step - loss: 172.3901 - val_loss: 165.1498
Epoch 16/100
23/23 - 0s - 3ms/step - loss: 168.4030 - val_loss: 163.3517
Epoch 17/100
23/23 - 0s - 3ms/step - loss: 164.8200 - val_loss: 160.8725
Epoch 18/100
23/23 - 0s - 3ms/step - loss: 161.6572 - val_loss: 158.7663
Epoch 19/100
23/23 - 0s - 3ms/step - loss: 158.6305 - val_loss: 156.8994
Epoch 20/100
23/23 - 0s - 2ms/step - loss: 155.7096 - val_loss: 156.9816
Epoch 21/100
23/23 - 0s - 3ms/step - loss: 154.0328 - val_loss: 157.3610
Epoch 22/100
23/23 - 0s - 2ms/step - loss: 151.2956 - val_loss: 153.6666
Epoch 23/100
23/23 - 0s - 3ms/step - loss: 149.0722 - val_loss: 156.6464
Epoch 24/100
23/23 - 0s - 2ms/step - loss: 146.6111 - val_loss: 152.2763
Epoch 25/100
23/23 - 0s - 3ms/step - loss: 144.4981 - val_loss: 154.7580
Epoch 26/100
23/23 - 0s - 3ms/step - loss: 142.4205 - val_loss: 154.2854
Epoch 27/100
23/23 - 0s - 2ms/step - loss: 140.9109 - val_loss: 155.7577
Epoch 28/100
23/23 - 0s - 3ms/step - loss: 138.8823 - val_loss: 153.3252
Epoch 29/100
23/23 - 0s - 3ms/step - loss: 136.8914 - val_loss: 154.6034
Epoch 30/100
23/23 - 0s - 3ms/step - loss: 135.3201 - val_loss: 153.8021
Epoch 31/100
23/23 - 0s - 3ms/step - loss: 133.2907 - val_loss: 153.9311
Epoch 32/100
23/23 - 0s - 3ms/step - loss: 131.8809 - val_loss: 151.4903
Epoch 33/100
23/23 - 0s - 3ms/step - loss: 130.2593 - val_loss: 155.3482
Epoch 34/100
23/23 - 0s - 2ms/step - loss: 129.6060 - val_loss: 152.9557
Epoch 35/100
23/23 - 0s - 2ms/step - loss: 126.6855 - val_loss: 151.4906
Epoch 36/100
23/23 - 0s - 2ms/step - loss: 124.9126 - val_loss: 153.2768
Epoch 37/100
23/23 - 0s - 2ms/step - loss: 122.7743 - val_loss: 151.2536
Epoch 38/100
23/23 - 0s - 2ms/step - loss: 121.1943 - val_loss: 151.8949
Epoch 39/100
23/23 - 0s - 2ms/step - loss: 119.3154 - val_loss: 152.5363
Epoch 40/100
23/23 - 0s - 3ms/step - loss: 117.7342 - val_loss: 150.0536
Epoch 41/100
23/23 - 0s - 3ms/step - loss: 115.3759 - val_loss: 149.8645
Epoch 42/100
23/23 - 0s - 3ms/step - loss: 113.4112 - val_loss: 150.8674
Epoch 43/100
23/23 - 0s - 3ms/step - loss: 111.1024 - val_loss: 149.4726
Epoch 44/100
23/23 - 0s - 2ms/step - loss: 108.8280 - val_loss: 146.9648
Epoch 45/100
23/23 - 0s - 2ms/step - loss: 106.5890 - val_loss: 148.2346
Epoch 46/100
23/23 - 0s - 3ms/step - loss: 103.6568 - val_loss: 146.6605
Epoch 47/100
23/23 - 0s - 2ms/step - loss: 101.8703 - val_loss: 145.9876
Epoch 48/100
23/23 - 0s - 3ms/step - loss: 98.6480 - val_loss: 141.7853
Epoch 49/100
23/23 - 0s - 2ms/step - loss: 96.3000 - val_loss: 139.7165
Epoch 50/100
23/23 - 0s - 2ms/step - loss: 93.3136 - val_loss: 140.6249
Epoch 51/100
23/23 - 0s - 3ms/step - loss: 91.3972 - val_loss: 141.4916
Epoch 52/100
23/23 - 0s - 3ms/step - loss: 88.0378 - val_loss: 136.4656
Epoch 53/100
23/23 - 0s - 2ms/step - loss: 85.8940 - val_loss: 139.6701
Epoch 54/100
23/23 - 0s - 3ms/step - loss: 83.7306 - val_loss: 134.9783
Epoch 55/100
23/23 - 0s - 2ms/step - loss: 80.2123 - val_loss: 132.3285
Epoch 56/100
23/23 - 0s - 2ms/step - loss: 77.6178 - val_loss: 134.3710
Epoch 57/100
23/23 - 0s - 3ms/step - loss: 74.9990 - val_loss: 129.9270
Epoch 58/100
23/23 - 0s - 3ms/step - loss: 72.9553 - val_loss: 131.6375
Epoch 59/100
23/23 - 0s - 3ms/step - loss: 70.7013 - val_loss: 130.7215
Epoch 60/100
23/23 - 0s - 2ms/step - loss: 68.8755 - val_loss: 130.8943
Epoch 61/100
23/23 - 0s - 2ms/step - loss: 66.5452 - val_loss: 124.9284
Epoch 62/100
23/23 - 0s - 2ms/step - loss: 64.8115 - val_loss: 132.8478
Epoch 63/100
23/23 - 0s - 3ms/step - loss: 62.9847 - val_loss: 125.4047
Epoch 64/100
23/23 - 0s - 4ms/step - loss: 61.6487 - val_loss: 122.5811
Epoch 65/100
23/23 - 0s - 3ms/step - loss: 59.7374 - val_loss: 124.2532
Epoch 66/100
23/23 - 0s - 3ms/step - loss: 58.2132 - val_loss: 119.4853
Epoch 67/100
23/23 - 0s - 3ms/step - loss: 56.9802 - val_loss: 117.2028
Epoch 68/100
23/23 - 0s - 3ms/step - loss: 55.7599 - val_loss: 120.2372
Epoch 69/100
23/23 - 0s - 2ms/step - loss: 54.1556 - val_loss: 117.4490
Epoch 70/100
23/23 - 0s - 2ms/step - loss: 53.3534 - val_loss: 118.2745
Epoch 71/100
23/23 - 0s - 2ms/step - loss: 52.2302 - val_loss: 118.2439
Epoch 72/100
23/23 - 0s - 3ms/step - loss: 51.3000 - val_loss: 117.0274
Epoch 73/100
23/23 - 0s - 3ms/step - loss: 50.2046 - val_loss: 113.0626
Epoch 74/100
23/23 - 0s - 4ms/step - loss: 49.5179 - val_loss: 115.3461
Epoch 75/100
23/23 - 0s - 4ms/step - loss: 48.7321 - val_loss: 119.3679
Epoch 76/100
23/23 - 0s - 3ms/step - loss: 47.1311 - val_loss: 118.0308
Epoch 77/100
23/23 - 0s - 2ms/step - loss: 46.2748 - val_loss: 117.2090
Epoch 78/100
23/23 - 0s - 3ms/step - loss: 45.4771 - val_loss: 119.9999
Epoch 79/100
23/23 - 0s - 3ms/step - loss: 44.9622 - val_loss: 119.7761
Epoch 80/100
23/23 - 0s - 2ms/step - loss: 43.9084 - val_loss: 118.4384
Epoch 81/100
23/23 - 0s - 3ms/step - loss: 43.2749 - val_loss: 117.0175
Epoch 82/100
23/23 - 0s - 2ms/step - loss: 42.7905 - val_loss: 120.5988
Epoch 83/100
23/23 - 0s - 3ms/step - loss: 42.5177 - val_loss: 131.0409
Epoch 84/100
23/23 - 0s - 2ms/step - loss: 42.1381 - val_loss: 116.3812
Epoch 85/100
23/23 - 0s - 4ms/step - loss: 40.5188 - val_loss: 118.7932
Epoch 86/100
23/23 - 0s - 3ms/step - loss: 40.3050 - val_loss: 119.0107
Epoch 87/100
23/23 - 0s - 3ms/step - loss: 40.0616 - val_loss: 129.6005
Epoch 88/100
23/23 - 0s - 3ms/step - loss: 39.1349 - val_loss: 125.6686
Epoch 89/100
23/23 - 0s - 2ms/step - loss: 38.2600 - val_loss: 126.6513
Epoch 90/100
23/23 - 0s - 2ms/step - loss: 37.9025 - val_loss: 127.0362
Epoch 91/100
23/23 - 0s - 3ms/step - loss: 37.4648 - val_loss: 125.4421
Epoch 92/100
23/23 - 0s - 2ms/step - loss: 37.0995 - val_loss: 123.5926
Epoch 93/100
23/23 - 0s - 2ms/step - loss: 36.3747 - val_loss: 122.4730
Epoch 94/100
23/23 - 0s - 2ms/step - loss: 35.5832 - val_loss: 129.5108
Epoch 95/100
23/23 - 0s - 2ms/step - loss: 35.9986 - val_loss: 123.8725
Epoch 96/100
23/23 - 0s - 2ms/step - loss: 35.0376 - val_loss: 123.9390
Epoch 97/100
23/23 - 0s - 2ms/step - loss: 34.8760 - val_loss: 132.2224
Epoch 98/100
23/23 - 0s - 2ms/step - loss: 34.4256 - val_loss: 131.0219
Epoch 99/100
23/23 - 0s - 3ms/step - loss: 34.1304 - val_loss: 125.4299
Epoch 100/100
23/23 - 0s - 3ms/step - loss: 33.8609 - val_loss: 128.9708